/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require flickity
 *= require jquery.fancybox
 *= require lightbox
 *= require queries
 *= require styles
 *= require fonts
 */

 @import "font-awesome";

 .main-logo {
 	height: 70px;
 	width: 70px;
 }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
	height:2px;
	width:30px;
}


.sub-headline {
	padding:0 20px;
	margin:40px 0 80px 0;
	display: inline-block;
  width: 60%;
  font-size: 23px;
  font-weight: 200;
  line-height: 1.4;
}


.social-icons {

	font-size:21px;
		
	.fa-twitter, .fa-facebook, .fa-instagram {
		margin:0 10px;
	}

}


.nav-wrapper {
	
	.social-icons a {
		color: #fff;
	}
		
	a:hover {
		color:#acfe2e;
	}
			
}



.user-subscribe {

	.mc-field-group, .clear {
		display:inline-block;
		margin-right: 5px;
	}

	.email, .postalCode {
  padding: 23px 40px;
  border: 2px solid #fff;
  border-radius: 3px;
  font-size: 16px;
  color:#fff;
  background:transparent;

	}

	.email {
		width: 20em;
	}

	.postalCode {
		width: 12em;
	}

	#mce-EMAIL::-webkit-input-placeholder { /* Safari, Chrome and Opera */
	  color: #fff;
	}

	#mce-PCODE::-webkit-input-placeholder { /* Safari, Chrome and Opera */
	  color: #fff;
	}

	#mce-EMAIL::-moz-placeholder-placeholder { /* Safari, Chrome and Opera */
	  color: #fff;
	}

	#mce-PCODE::-moz-placeholder-placeholder { /* Safari, Chrome and Opera */
	  color: #fff;
	}

	#mce-EMAIL::-ms-input-placeholder { /* Safari, Chrome and Opera */
	  color: #fff;
	}

	#mce-PCODE::-ms-input-placeholder { /* Safari, Chrome and Opera */
	  color: #fff;
	}

	#mce-EMAIL::-webkit-input-placeholder { /* Safari, Chrome and Opera */
	  color: #fff;
	}

	#mce-PCODE::-webkit-input-placeholder { /* Safari, Chrome and Opera */
	  color: #fff;
	}


	#mce-EMAIL:placeholder-shown { /* Standard one last! */
	  color: #fff;
	}

	#mce-PCODE:placeholder-shown { /* Standard one last! */
	  color: #fff;
	}

}

.submit-to-mailchimp {
	padding: 14px 17px;
  background-color: #fff;
  border-radius: 3px;
  font-size: 16px;
  color:#323a45;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  &:hover {
  	background: #acfe2e;
  	border:1px solid #acfe2e;
  }

}

.email:focus {
	border-color:#73d0da;
}

.postalCode:focus {
	border-color:#73d0da;
}


div.mce_inline_error {
	display:none !important;
}

div#mce-responses {
	margin-top:40px;
}



.phone-icon {
	height:200px;
	width:200px;
}

// Campaign

.brand-hashtag {
  // background:#73d0da;

  h1 {
    color: #fff;
    font-size:3em;
    padding:60px 0;
    font-weight: 500px;
  }
}

.campaign {
    background: no-repeat center center fixed;
    background-image: image-url('belay-wall.jpeg');
    background-size: cover;
}

.campaign-wrap {
    position: relative;
    padding: 10px 0;
    // min-height: 600px;
}


// What we Offer

.benefits-list {

	.sub-section {
	margin:40px 0;

	}

}

// Footer

.logo-wrap {
	height:auto;
	width:250px;
}

.footer-nav {
	
	.social-icons {
		display: inline-block;
		font-size: 17px;
	}

	.social-icons a {
		color: #abfd2d;
	}


}


// Partner Page


// .partner-hero {

// }


.header-secondary {
	background:#304040;

	.nav-wrapper {
		margin-top:30px;
	}
}

.partner-hero {
    position: relative;
    padding: 60px 0 60px 0;
    min-height: 450px;
    background: rgb(40, 70, 102) no-repeat center center;
    background-image:image-url('toronto-skyline.jpg'); 
    background-size: cover;
    color: #fff;
}

.partner-hero h1 {
    margin: 100px 0 45px 0;
    font-weight: 300;
    font-size: 45px;
}
.partner-hero h1 span {
    display: inline-block;
    color: #a1a9b0;
}

.partner-hero {
    width: 100%;
    height: 100%;
}
header i {
    margin-left: 5px;
}


.partner-form {
	background:#ddd;
	padding:40px 0;

	.mc-field-group {
		display: block;
	}



}

.partner-field {
		margin: 10px 0;
		padding: 26px 46px;
    border: 2px solid #C9D1C8;
    border-radius: 4px;
    font-size: 16px;
}

.submit-partner-form {
	width:100%;
	padding: 17px 46px;
  background: #304040;
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
  background-image: none;
  border: 1px solid #304040;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  &:hover {
  	opacity: 0.9;
  	color:#fff;
  }

}

.callToAction {
	background:#373737;
	padding:40px 0;

 .section-title {
		margin-bottom: 40px;
		color:#abfd2d;
	}
}

















