<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="logo-wrap">
							<%= link_to root_path do %>
							<%= image_tag "new_white_logo.png", class: "img-responsive footer-logo", alt: "Start your climb" %>
							<% end %>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<ul class="footer-nav text-right">
							<li>
								<%= link_to "Want To Be A Partner?", partner_path %>
							</li>
							<div class="navicon social-icons">
								<a href="https://twitter.com/climbcard"><i class="fa fa-twitter"></i></a>
								<a href="https://facebook.com/climbcard"><i class="fa fa-facebook"></i></a>
								<a href="https://www.instagram.com/climbcard/"><i class="fa fa-instagram"></i>
								</a>
						</div>
						</ul>
					</div>
				</div>
			</div>
</footer>