<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="logo-wrap">
							<%= link_to live_path do %>
							<%= image_tag "climbr_logo.png", class: "img-responsive footer-logo", alt: "Start your climb" %>
							<% end %>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="footer-nav text-right">
							<div class="navicon social-icons">
								<a href="https://twitter.com/climbrapp"><i class="fa fa-twitter"></i></a>
								<a href="https://facebook.com/climbrapp"><i class="fa fa-facebook"></i></a>
								<a href="https://www.instagram.com/climbrapp/"><i class="fa fa-instagram"></i>
								</a>
						</div>
						</div>
					</div>
				</div>
			</div>
</footer>